@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');

/*pra dar reset no csss*/
* {
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}
/* o meu body, botei overflow hidden pra não ter barra de rolagem*/
body {
    background-color: #3492eb;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/* o cabeçalho com o titulo no centro*/
.cabeçalho {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    height: 45px;
    max-width: 400px;
    width: 100%;
    padding: 0px;
    margin: 25px auto;
    border-radius: 80px;
    background-color: white;
    color: black;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
/* container do corpo inteiro*/
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    background-color: #96cefc;
    height: 800px;
    width: 1000px;
    margin: 40px 450px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
/*o titulo em cima da chave numerica*/
h3 {
    margin: 10px 0px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 25px;
}
textarea1 {
    text-decoration: none;
}
textarea2 {
  text-decoration: none;
}
/* os radios buttons*/
input[type=radio], input[type=submit], input[type=reset] {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    height: 35px;
    width: 150px;
    border-radius: 8px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Baloo Thambi 2', cursive;
  }
  /* o rodape */
  footer {
    font-size: 15px;
    font-family: 'Baloo Thambi 2', cursive;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    margin: -18px 0px;
  }
  /* uma div para a imagem de trás*/
  .parent {
    position: relative;
  }
/* a imagem com opacidade e no fundo dos elementos das primeiras divs*/
  img.fade {

    position: absolute;
    height: 700px;
    width: 600px;
    top: 270px;
    left: 1400px;
    opacity: 80%;
    z-index: -1000;

  }
  /* a caixa de texto*/
  .textarea1 {
    background-color: #ddd;
    color: black;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent black;
    outline: none;
    line-height: 1.4;
    transition: all 0.2s;
    font-size: 16px;

  }
  .textarea2 {
    background-color: #ddd;
    color: black;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent black;
    outline: none;
    line-height: 1.4;
    transition: all 0.2s;
    font-size: 16px;

  }
  /* quando você passar o mouse na caixa, ela vai mudar a cor*/
  .textarea1:hover {
    cursor: pointer;
    background-color: white;
  }
  /* quando ela for clicada, ela vai mudar a cor também*/
  .textarea1:focus {
    cursor: text;
    color: black;
    background-color: white;
    border: black;

  }  /* quando você passar o mouse na caixa, ela vai mudar a cor*/
  .textarea2:hover {
    cursor: pointer;
    background-color: white;
  }
  /* quando ela for clicada, ela vai mudar a cor também*/
  .textarea2:focus {
    cursor: text;
    color: black;
    background-color: white;
    border: black;

  }
.radio {
    height: 30px;
    width: 150px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
/*titulo também*/
.titulo {
  margin: 50px 25px
}
/* a chave numerica da cifra de cesar */
.chaveNumber {
  margin: 50px 25px;
  font-family: 'Baloo Thambi 2', cursive;
}
/* a selação de linguagem */
.select {
  height: 30px;
  width: 180px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo Thambi 2', cursive;
  border-radius: 8px;
}
/* os botões radios */
.radiobtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo Thambi 2', cursive;
  height: 50px;
  width: 25px;
  margin: 10px 250px;
}
/* pra chave numerica ficar escondida e só aparecer quando selecionada */
.chaveNumber {
  display: none;
}
/* o botão de resultado e a animação de hover */
.resultadobtn {
  background-color: rgb(226, 226, 226);
  height: 30px;
  width: 180px;
  border: 2px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo Thambi 2', cursive;
  border-radius: 8px;
  transition: all 0.2s ease;
}
.resultadobtn:hover {
      background-color: white;
}
h4 {
  margin: 10px 0px;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px black;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 25px;
}
/* aqui e a parte responsiva*/
@media (max-width: 1440px) {
  .cabeçalho {
    transform: translateX(0%);
  }
  .container1 {
      margin: 0px 0px;
      transform: translateX(22%);
      height: 700px;
  }
  .conteudo {
    transform: translateY(-10%);
  }
  .rodape {
      margin: 50px 25px;
      transform: translateX(0%);
  }
  img {
      transform: translateX(-65%);
  }
}
@media (max-width: 1280px) {
  .principal {
      margin:  0px 0px;
      transform: translateX(-6%);
  }
  .container1 {
    height: 640px;
  }
  .conteudo {
    transform: translateY(-5%);
  }
  .rodape {
      transform: translateY(-50%);
      transform: translateX(2%);
  }
  img {
      transform: translateX(-90%);
  }
}
@media (max-width: 850px) {
  .container1{
      
      flex-direction: column;
  }
}

@media (max-width: 768px) {
  .principal {
      
      transform: translateX(-15%)
  }
  .container1 {
      height: 700px;
      width: 700px;
  }
  img {
      transform: translateX(-230%);
      margin-top: 450px;
  }
}

@media only screen and (max-width: 700px) {
  .principal {
    width: 70%;
    transform: translateX(0%)
  }
}

@media (max-width: 375px) {

  .principal {
     transform: translateX(-20%);
     width: 50%;
  }
  .titulo {
    transform: translateY(-100%);  
  }
  .conteudo {
    transform: translateY(-25%);
  }
  .container1 {
      height: 650px;
      width: 320px;
      font-size: 2px;
  }
  h4 {
    font-size: 20px;
  }
  .textarea1, .textarea2 {
      transform: translateY(-25%);
      width: 190px;
      height: 100px;
  }
  .textarea2 {
    transform: translateY(20%);
  }
  .resultadobtn {
    transform: translateY(100%);
  }
  img {
      margin-top: 50px;
  }
}
