@media (max-width: 850px) {
    .container1{
        
        flex-direction: column;
    }
}
@media (max-width: 1280px) {
    .principal {
        margin: 0px 0px;
        transform: translateX(-25%);
    }
    .rodape {
        transform: translateY(-25%);
    }
    img {
        transform: translateX(-90%);
    }
}
@media (max-width: 768px) {
    .principal {
        
        transform: translateX(-54%)
    }
    .container1 {
        height: 700px;
        width: 700px;
    }
    img {
        transform: translateX(-230%);
        margin-top: 450px;
    }
}

@media (max-width: 375px) {
    .principal {
       transform: translateX(-113%);
    }
    .container1 {
        height: 650px;
        width: 320px;
    }
    .textarea {
        transform: translateY(-25%);
        width: 190px;
    }
    img {
        margin-top: 50px;
    }
}